<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.id %>">
    name: <%%= pokemon.get("name") %>
    <br>
    poke_type: <%%= pokemon.get("poke_type") %>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <img src="<%%= pokemon.get('image_url')%>">
  <ul>
    <%% pokemon.pairs().forEach(function(pair) { %>
      <%% if (pair[0] !== "image_url") { %>
        <li>
          <%%= pair[0] + ': ' + pair[1] %>
        </li>
      <%% }; %>
    <%% }); %>
  </ul>
</script>

<script type="text/template" id="toy-list-item-template">
</script>

<script type="text/template" id="toy-detail-template">
</script>

<script type="text/template" id="pokemon-form-template">
</script>
