<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.id %>">
    name: <%%= pokemon.get("name") %>
    <br>
    poke_type: <%%= pokemon.get("poke_type") %>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <img src="<%%= pokemon.get('image_url')%>">
  <ul>
    <%% pokemon.pairs().forEach(function(pair) { %>
      <%% if (pair[0] !== "image_url") { %>
        <li>
          <%%= pair[0] + ': ' + pair[1] %>
        </li>
      <%% }; %>
    <%% }); %>
  </ul>
  <h2>Toys</h2>
  <ul class="toys"></ul>
</script>

<script type="text/template" id="toy-list-item-template">
  <li class="toy-list-item"
      data-id="<%%= toy.id %>"
      data-pokemon-id="<%%= toy.get('pokemon_id') %>">
    name: <%%= toy.get("name") %>
    <br>
    happiness: <%%= toy.get("happiness") %>
    <br>
    price: <%%= toy.get("price") %>
  </li>
</script>

<script type="text/template" id="toy-detail-template">
  <img src="<%%= toy.get('image_url')%>">
  <ul>
    <%% toy.pairs().forEach(function(pair) { %>
      <%% if ((pair[0] !== "image_url") && (pair[0] !== "pokemon_id")) { %>
        <li>
          <%%= pair[0] + ': ' + pair[1] %>
        </li>
      <%% } %>
    <%% }); %>
  </ul>
</script>

<script type="text/template" id="pokemon-form-template">
  <select data-pokemon-id="<%%= toy.get('pokemon_id') %>"
    data-toy-id="<%%= toy.id %>">
    <%% pokes.forEach(function(poke) { %>
      <%% if (toy.get("pokemon_id") === poke.id) { %>
        <option selected>
      <%% } else { %>
        <option>
      <%% } %>
        <%%= poke.get("name") %>
      </option>
    <%% }); %>
  </select>
</script>
